.modal-content {
  max-height: 30%;
  padding: 24px 24px;

  .user-info-modal {
    .user-info {
      .flex-row {
        display: flex;

        .info {
          margin-right: 24px;
        }

        form {
          .form-group {
            margin-right: 24px;
          }
        }
      }
    }
  }
}
